header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
header h1 {
  color: #555;
}
header .search_bar {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

header .search_bar input {
  width: 75%;
  padding: 5px;
  font-style: italic;
  border-radius: 5px;
  border: 1px solid #555;
}
header .search_bar input:focus,
header .search_bar button:focus,
header .about:focus,
header .contact:focus {
  outline: 1px dashed #555;
  border: 0;
}

header .search_bar button {
  width: 23%;
  background-color: white;
  border: 1px solid #555;
  border-radius: 5px;
  font-style: italic;
  cursor: pointer;
}
header a {
  padding: 4px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid #000;
}
a:-webkit-any-link {
  cursor: pointer;
}
